.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif; 
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color:  #f2f2f2;
  position: relative;
  display: flex;
}
.logo {
  width: 228px;
  height: 32px;
}
.logo__place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}
.header__title {
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
  width: 730px;
  margin: 0;
  margin-left: 64px;
  align-self: center;
}
.header__subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  width: 388px;
  margin: 0;
  position: absolute;
  bottom: 30px;
  left: 64px;
}
.header__link {
  font-size: 18px;
  font-weight: 400;
  color: #2f80ed;
  text-decoration: none;
  padding-left: 5px;
}
.header__main-illustration {
  background-image: url("../images/two_again.png");
  background-size: 100%;
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__square-pic {
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  position: absolute;
  top:64px;
  right: 0;
  z-index: 0;
}

.description {

}
.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 100px auto 0;
}
.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  color: #2f80ed;
}
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}
.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}
.two-columns__paragraph:nth-child(2) {
  margin: 30px auto;
}
.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}
.digits {
  padding: 100px 0;
}

.section-title {
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
  width: 60%;
  text-align: center;
  margin: auto;
}
.section-subtitle {
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  width: 60%;
  text-align: center;
  margin: auto;
  margin-top: 20px;
}
.table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: 0 auto;
}
.table__cell {
  width: 250px;
  margin-top: 60px;
}
.table__heading {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;
  margin: 0;
}
.table__text {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  margin: 0;
  margin-top: 20px;
}
.feynman {
  background-color:  #f2f2f2;
  position: relative;
  min-height: 890px;
}
.feynman__img {
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.feynman__title {
  font-size: 120px;
  font-weight: 600;
  line-height: 1.15;
  width: 648px;
  text-align: center;
  margin: auto;
  padding-top: 100px;
  z-index: 1;
  position: relative;
}
.feynman__subtitle {
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  z-index: 1;
  position: relative;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 0;
}
.feynman__link {
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  color: #2f80ed;
  text-decoration: none;
  position: absolute;
  top: 50%;
  right: 48px;
  z-index: 1;
}
.kaufman {
  background-color: #1F1F1F;
  color: #fff;
  padding: 90px 0;
  overflow: hidden;
  position: relative;
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -210px;
  width: 877px;
  height: 877px;
  z-index: 1;
}
.section-title_theme_dark {
  
}
.section-subtitle_theme_dark {
  
}
.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
  z-index: 2;
}
.table__heading_theme_dark {

}
.table__text_theme_dark {

}
.footer {
  overflow: hidden;
  background-color: #1f1f1f;
}
.footer__columns {
  width: 90%;
  display: flex;
  min-height: 250px;
  justify-content: space-between;
  margin: 60px auto 40px;
}
.footer__column_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}
.logo__place_footer {

}
.footer__author {
  margin: 18px 0;
  color: #fff;
  text-decoration: none;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
.footer__column_content_info {

}
.footer__column-heading {
  color: #fff;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}
.footer__column-links {
  padding: 20px 0 16px;
  margin: 0;
  list-style-type: none;
}
.footer__column-link {
  color: #fff;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content_social {

}
.footer__social-icon {
  width: 16px;
  height: 16px;
  padding-right: 10px;
}